{{#each @model as |timeperiod|}}
  <p>
    <span class="badge badge-pill badge-secondary">
      {{moment-format timeperiod.start 'DD.MM.YYYY HH:mm'}} - 
      {{#if timeperiod.end}}
        {{moment-format timeperiod.end 'DD.MM.YYYY HH:mm'}}
      {{else}}
        running...
      {{/if}}
      <MdIcon @icon="delete" @size=12 @fill="#000000" class="pointer" {{on "click" (fn delete timeperiod)}}/>
    </span>
  </p>
{{/each}}
